<h1>Welcome to home page of finance tracker app</h1>
<h2>Features</h2>

<ul>
  <li>Track upto 10 US stocks here</li>
  <li>Make friends</li>
  <li>Manage your portfolio</li>
  <li>Have a look at other's portfolios</li>
</ul>